<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MComms_Transmuxer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MComms_Transmuxer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <applicationSettings>
    <MComms_Transmuxer.Properties.Settings>
      <setting name="RtmpPort" serializeAs="String">
        <value>1935</value>
      </setting>
    </MComms_Transmuxer.Properties.Settings>
    <log4net>
      <appender name="FileAppender" type="log4net.Appender.FileAppender">
        <file value="MComms_Transmuxer.log"/>
        <appendToFile value="true"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date [%thread] %-5level [%class.%method] %message%newline"/>
        </layout>
      </appender>
      <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date [%thread] %-5level [%class.%method] %message%newline"/>
        </layout>
      </appender>
      <root>
        <level value="DEBUG"/>
        <appender-ref ref="TraceAppender"/>
        <appender-ref ref="FileAppender"/>
      </root>
    </log4net>
  </applicationSettings>
  <userSettings>
    <MComms_Transmuxer.Properties.Settings>
      <setting name="PublishingRoot" serializeAs="String">
        <value>http://192.168.0.102/</value>
      </setting>
      <setting name="FlvSaveFolder" serializeAs="String">
        <value>D:\AVTest\</value>
      </setting>
      <setting name="IisMediaRestApiUserId" serializeAs="String">
        <value>andy</value>
      </setting>
      <setting name="IisMediaRestApiUserPwd" serializeAs="String">
        <value />
      </setting>
      <setting name="PublishNamePattern" serializeAs="String">
        <value>(?&lt;modifier&gt;\d+)$</value>
      </setting>
      <setting name="EnableFlvDump" serializeAs="String">
        <value>False</value>
      </setting>
    </MComms_Transmuxer.Properties.Settings>
  </userSettings>
</configuration>
